body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.product-image:hover {
    transform: scale(1.1) translateX(20px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.product-title {
    transition: transform 0.3s ease, color 0.3s ease, background 0.3s ease;
    cursor: pointer;
    padding: 10px;
    background: linear-gradient(45deg, #fff, #f0f0f0);
    border-radius: 5px;
}

.product-title:hover {
    transform: translateX(10px) scale(1.1);
    color: white;
    background: linear-gradient(45deg, #1b4aa1, #6a7cde);

}








